.container-fluid {
  padding: 0; /* Elimina el padding por defecto */
  margin: 0;  /* Elimina márgenes por defecto */
}
.container-results{
  background:linear-gradient(#004aad,transparent);
}

.filters {
  padding: 15px;
  background-color: #258bff46;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.7s ease; 
  color: white;
  margin-left: 1rem;
}

.container-mentor-results{
  margin-left: 2rem;
}

.filter-button{
  margin-left: 9rem;
  background-color: orange;
  color: black;

}

.filter-button:hover {
  transform: scale(1.05);
  background-color: rgb(187, 122, 1);
  color: white;
}

.no-result-text{
  margin-top: 5rem;
}

.result-title{
  margin-top: 3rem;
  color: white;
}

.filters h6 {
  margin-bottom: 0.5rem;
}

.form-check {
  margin-bottom: 0.5rem;
}

.form-check-label {
  margin-left: 0.5rem;
}

.form-select {
  width: 100%;
}


@media (min-width: 992px) {
  .mentor-card {
    max-width: 320px; /* Ajuste de ancho máximo */
  }
  
}

@media (max-width: 768px) {
  .container-mentor-results{
    margin: 3rem;
  }
}