
.hero-section {
  padding: 250px 0;
  text-align: center;
  background-image: url('../Assest/jovenes.png');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.hero-section .display-4 {
  top: 0%;
  font-size: 3rem;
  margin-bottom: 20px;
  color: white;
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
}

.custom-button {
  text-align: center;
  padding: 14px 28px;
  border: 1px solid #0056b3;
  background-color: #002fff;
  color: #ecf0f3;
  text-decoration: none;
  display: inline-block;
  transition: all 0.4s ease;
  font-size: 1.25rem;
}

.custom-button:hover {
  background-color: #0056b3;
  color: #ffffff;
  border-color: #0056b3;
}

.shadow-drop-center {
  animation: shadow-drop-center 0.9s linear both;
}

@keyframes shadow-drop-center {
  0% {
    box-shadow: 0 0 0 0 transparent;
  }
  100% {
    box-shadow: 0 0 20px 0 rgba(0, 180, 252, 0.55);
  }
}

/* Caracteristicas Principales */
.features-section .text-primary {
  box-shadow: #000000;
  font-size: 35px;
  text-align: center;
  transform: (1.4);
}

.features-section .features-text {
  text-align: center;
}

.features-section ul {
  box-shadow: #000000;
  list-style-type: none;
  padding: 0;
}

.features-section li {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.hero-section .lead {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.8rem;
  box-shadow: #fffefe;
  margin-bottom: 40px;
  color: rgb(255, 250, 250);
  text-shadow: #000000;
}

.custom-button:hover {
  background-color: #3896e7;
  color: white;
}

.features-section {
  padding: 40px 0;
  margin: 0;
}

.testimonial-card-container {
  display: flex;
  justify-content: flex-start; /* Cambia la justificación a flex-start */
  flex-wrap: wrap; /* Permite que las tarjetas se envuelvan si es necesario */
  gap: 10px; /* Añade un pequeño espacio entre las tarjetas */
}


.testimonial-card {
  width: 25em;
  height: 25em;
  border: 1px solid #ced4da;
  background-color:#cfcfcf;
  display: inline-block;
  margin: 0;
  transition: transform 0.3s ease;
}

.testimonial-card:hover {
  box-shadow: 0 10px 8px rgba(0, 0, 0, 0.1);
  animation: scale-up-center 1.0s both;
}

@keyframes scale-up-center {
  0% {
    transform: scale(1);
  }
  70% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(1.06);
  }
}

.testimonial-card .card-body {
  padding: 40px;
  margin: 0px;
}

.testimonial-card .card-title {
  color: #252525;
  font-size: medium;
}

.testimonial-card .lead {
  color: #000000;
}

.testimonial-card .font-italic {
  color: #000000;
}

/* Agregado */
.text-center {
  text-align: center;
}

.text-primary {
  color: #007bff; /* O el color que desees para el texto primario */
}

.dark-mode .text-primary {
  color: #b8c1ec; /* Cambia el color del texto primario en modo oscuro */
}

/* Agregado para el carousel 
.carousel-fade {
  /* Hace que el carousel se desvanezca entre las transiciones 
  transition: opacity 0.5s ease-in-out;
}

.carousel-item {
  /* Estilos para cada elemento del carousel 
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px; /* Altura deseada para los elementos del carousel 
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  /* Estilos para los iconos de navegación del carousel 
  background-image: url('../imagen/logo-unt.png');
  /* Reemplaza 'ruta_de_tu_icono_previo.png' con la ruta de tu icono de navegación previo 
  width: 50px; /* Ancho deseado 
  height: 50px; /* Altura deseada 
  background-size: cover;
}

.carousel-control-next-icon {
  /* Estilos para el icono de navegación hacia adelante 
  background-image: url('../imagen/logo-unt.png');
  /* Reemplaza 'ruta_de_tu_icono_siguiente.png' con la ruta de tu icono de navegación siguiente 
}

.carousel-caption {
  /* Estilos para las leyendas del carousel (opcional) 
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente 
  color: white; /* Color del texto 
  padding: 10px; /* Espaciado interno 
}*/
