.Container-PerfilMentores {
    min-height: 100vh;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;

}

.perfil-mentor-avatar-nombre{
    background-color: white;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.38);
    display: flex;
    width: fit-content;
    min-width: 200px;
}

.perfil-mentor-info-descripcion{
background-color: white;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.38);
    display: flex;
    flex-direction: column;
    max-width: 575px;
    min-width: 200px;
}
.perfil-mentor-opiniones-clases{
    display: flex;
    flex-direction: column;
}
.perfil-mentor-clases{
    background-color: white;
        border-radius: 20px;
        margin: 20px;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.38);
        display: flex;
        max-height: 150px;
}
.perfil-mentor-opiniones{
    min-width: 200px;
}
.perfil-mentor-buttons-sede{
    max-width: 100%;
}
.perfil-mentor-sede{
    background-color: white;
        border-radius: 20px;
        margin: 20px;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.38);
        height: fit-content;
}
.perfil-mentor-buttons{
    background-color: white;
        border-radius: 20px;
        margin: 20px;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.38);
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: flex-start
}
.perfil-mentor-opiniones-clases{
    max-width: 100%;
}
.perfil-mentor-info-contanto{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}