/* Global Styles */
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  
}

/* Navigation */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 90px;
  background-color: #004aad;
}

.nav-logo-container {
  width: 10%;
}

.navbar-links-container a {
  margin-right: 3rem;
  text-decoration: none;
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 600;
}

.navbar-cart-icon {
  font-size: 1.15rem;
}

/* Main Content */
.container-about {
  padding: 5rem 2rem;
  background:linear-gradient(#004aad,transparent)
}

.row-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.about, .contact {
  flex: 1;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
}

.about {
  text-align: left;
  max-width: 600px;
  height: auto;
}

.about h1 {
  font-size: 2.8em;
  margin-bottom: 1.5rem;
  color: #004aad;
  border-bottom: 4px solid #004aad;
  padding-bottom: 0.5rem;
}

.about p {
  font-size: 1.1em;
  line-height: 1.6;
  margin-bottom: 20px;
  color: #333333;
}

.contact {
  text-align: center;
  max-width: 600px;
  
}

.contact h2 {
  font-size: 2.2em;
  margin-bottom: 1.5rem;
  color: #004aad;
  border-bottom: 4px solid #004aad;
  padding-bottom: 0.5rem;
}

.contact p {
  font-size: 1.1em;
  margin-bottom: 2rem;
  color: #333333;
}

.contact form {
  display: flex;
  flex-direction: column;
}

.contact input,
.contact textarea {
  width: 100%;
  margin-bottom: 1.5rem;
  padding: 10px;
  border: 2px solid #004aad;
  border-radius: 5px;
  font-size: 1em;
}

.contact button {
  background-color: #004aad;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 1.2em;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact button:hover {
  background-color: #091830;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .row-content {
    flex-direction: column;
    align-items: center;
  }

  .about, .contact {
    text-align: center;
    max-width: 100%;
  }
}
