/* Global Styles */
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  
}


/* Main Content */
.container-about {
  padding: 5rem 2rem;
  background:linear-gradient(#004aad,transparent);
}

.row-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.about {
  text-align: center;
  max-width: 600px;
  height: auto;
  background-color: #93a8bd13;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-left: 12rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.about h2 {
  font-size: 2.2em;
  margin-bottom: 1.5rem;
  padding-bottom: 0.5rem;
  
}


.contact {
  text-align: center;
  max-width: 600px;
  background-color: #93a8bd13;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font: bond;
  margin-left: 5rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.contact h2 {
  font-size: 2.2em;
  margin-bottom: 1.5rem;
  padding-bottom: 0.5rem;
}

.contact p {
  font-size: 1.1em;
  margin-bottom: 2rem;
  color: #333333;
}

.contact form {
  display: flex;
  flex-direction: column;
}

.contact button {
  background-color: #004aad;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 1.2em;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact button:hover {
  background-color: #091830;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .row-content {
    flex-direction: column;
    align-items: center;
  }

  .about, .contact {
    text-align: center;
    max-width: 100%;
    margin-left: 3rem;
    max-width: 250px;
  }

  .container-about {
    padding: 1rem 1rem;
  }
}
