/* Estilos para el contenedor principal */
.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background: linear-gradient(#004aad, transparent);
}

/* Estilos para el box del formulario */
.form-box {
  opacity: 50px;
  background: radial-gradient(to right, #000000);
  padding: 30px;
  border-radius: 10px;
  max-width: 400px;
  width: 800px;
  margin: 2rem 0 2rem 0;
  background-color: rgba(255, 255, 255, 0.699);
  box-shadow: 0 10px 16px  rgba(0, 0, 0, 0.616)
}

/* Estilos para el título del formulario */
.form-container h2 {
  font-family: sans-serif;
  font-size: 30px;
  font-weight: 100;
  text-align: center;
  margin-bottom: 40px;

}

/* Estilos para el mensaje de error */
.errorMessage {
  color: red;
  text-align: center;
  margin-bottom: 15px;
}

/* Estilos para el enlace de "Olvidé mi contraseña" */
.forgot-password-link {
  color: black;
  display: block;
  text-align: center;
}

/* Estilos para el botón de envío */
.btn-login {
  width: 100%;
  padding: 10px;
  background-color: #006eff !important;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.btn-login:hover {
  background-color: #004aad !important;
  color:#fff;
}
.forgot-password-link{
  color: #006eff;
}

.show-password{
  border:0;
  background-color: #00000000;
  transform: translateY(-10%);
  transition: opacity 0.7s ease;
}

.show-password img {
  width: 24px;
  height: 24px;
  transition: opacity 0.7s ease; /* Transición suave para el cambio de opacidad */
}

.show-password img.hidden {
  opacity: 0.7;
}

.show-password img.visible {
  opacity: 0.4;
}