/* Formulario Signup */
.formularioSignup input[type="text"],
.formularioSignup input[type="password"],
.formularioSignup input[type="email"],
.formularioSignup input[type="tel"],
.formularioSignup select {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.formularioSignup a {
  color: #007bff;
}

.formularioSignup select option {
  padding: 10px;
}

.formularioSignup {
  max-width: 80em;
  margin: 50px auto;
  padding: 20px auto ;
  background-color: #f9f9f9e7;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formularioSignup button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  background-color: #ff6600;
  color: white;
  cursor: pointer;
}

.formularioSignup button:hover {
  background-color: #dc5800;
}
