/* Formulario Signup */
.formularioSignup input[type="text"],
.formularioSignup input[type="password"],
.formularioSignup input[type="email"],
.formularioSignup input[type="tel"],

.formularioSignup select {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.formularioSignup a {
  color: #007bff;
}

.formularioSignup select option {
  padding: 10px;
}

.formularioSignup {
  background: linear-gradient(#004aad, transparent);
}

.formularioSignup button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5rem;
  background-color: #006eff;
  color: white;
  cursor: pointer;
}

.formularioSignup button:hover {
  background-color: #004aad;
}

.singup{
  max-width: 80em;
  padding: auto ;
  border-radius: 8px;
  filter: drop-shadow(rgba(0, 0, 0, 0.1));
  
}
.singup-form{
  display: flex;
  justify-content:center; 
  align-items:center; 
  margin-left: 4vw;
}

.singup h2 {
  font-family: sans-serif;
  font-size: 30px;
  font-weight: 100;
  text-align: center;
  margin-bottom: 40px;
}

.card.p-4.shadow {
  align-items: center;
  opacity: 50px;
  background: radial-gradient(to right, #000000);
  padding: 30px;
  margin: 2rem 0 2rem 0;
  background-color: rgba(255, 255, 255, 0.699);
  box-shadow: 0 10px 16px  rgba(0, 0, 0, 0.616)
}