/* HomeLogueado */
.container {
    margin: 20px auto;
    padding: 20px;
    max-width: 1200px;
    background-color: #f8f9fa;
  }
  .card-title {
    font-size: 1.5em;
    color: #333;
  }
  
  .btn {
    background-color: #007bff;
    color: #fff;
  }
  
  .mentor-img {
    width: 20em;
    height: 20em;
    padding: 3em;
    object-fit: cover;
  }
  
  .mentores-recientes {
    width: 20em; 
    height: 20em; 
  }
  .MentoresRecientes{
   margin-bottom: 1em;
  }
  