/* HomeLogueado */
.container {
  padding: 20px;
  
}

.mentores-recientes {
  background-color: rgb(255, 255, 255);
  padding-top: 5%;
  padding-bottom: 3%;
  flex-wrap: wrap; 
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight:bolder;
  gap: 30px; 
}

.mentor-reciente-card{
margin-left: 1rem;
}

@media (max-width: 768px) {
  .mentores-recientes {
    flex: 1 1 calc(50% - 20px); 
  }
}

@media (max-width: 480px) {
  .mentores-recientes {
    flex: 1 1 100%; /* Ajusta el tamaño para pantallas muy pequeñas */
  }
}

