/* Estilos globales */
body {
  font-family: sans-serif;
  background-color: rgb(255, 255, 255);
}

/* Contenedor principal */
#root {
  flex: 0; /* Asegura que el contenido principal ocupe todo el espacio disponible */
}
