/* landingPage.css */
/* Estilos para Slide 1 */
.contenedor.slide-1 {
  padding: 50px 50px;
  text-align: center;
  margin: 10px;
  height: auto;
  width: auto;
}

/* Estilos para Slide 2 */
.contenedor.slide-2 {
  padding: 50px 50px;
  text-align: center;
  margin-bottom: 4rem;
}

/* Estilo para la sección "Accede a todo el contenido" */
.contenedor.slide-3 {
  padding: 50px 50px;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
  margin-bottom: 4.6rem;
}

.features-section {
  color: white;
  padding: 50px 50px;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
}

/* Tarjetas */
.card-title {
  font-family: sans-serif;
  font-size: 1.5em;
  color: #000000;
  background-color: #ffffff;
  margin: 10px;
}

.landing-page {
  background: linear-gradient(#004aad, transparent);
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  margin: 0;
  height: auto;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction:column;
  align-items: center;
  padding: 0px;
}

.opacidad {
  width: 100%;
  position: relative;
}

/* Grupo de Tarjetas UniTeach */
.uni-teach-card-group {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Espaciado entre las tarjetas */
  margin-top: 80px;
  justify-content: center;
  box-shadow: 5px -10px -3px 1px black;
}

.uni-teach-card-group .card {
  background-color: #f8f9fa; /* Color de fondo de las tarjetas */
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para dar efecto de elevación */
  flex: 1 1 300px; /* Ancho flexible para tarjetas, mínimo de 300px */
  max-width: 100%; /* Evita que las tarjetas crezcan demasiado */
  margin: 10px;
}

.uni-teach-card-group .card-img-top {
  width: 100%; /* Ajusta el tamaño de la imagen al ancho de la tarjeta */
  height: auto;
  border-radius: 8px 8px 0 0; /* Bordes redondeados en la parte superior */
}

.uni-teach-card-group .card-title {
  font-size: 18px;
  margin-bottom: 10px;
}

.uni-teach-card-group .card-text {
  font-size: 14px;
  color: #333;
  line-height: 1.5;
  margin-bottom: 15px;
}

.uni-teach-card-group .text-muted {
  font-size: 12px;
  color: #999;
}



/* Aplica la animación a la clase */
.tracking-in-expand-forward-bottom {
  animation: tracking-in-expand-forward-bottom 1.0s linear both;
}

/* Lista de características */
.features-section li {
  padding: 5px;
  font-size: 1.2rem;
  margin-bottom: 5px;
  color: #fcfcfc; 
}

/* Estilos para la sección de características */
.features-section {
  padding: 30px;
  text-align: center;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
}


/* Media Queries para Responsividad */
@media (max-width: 768px) {
  .contenedor {
    padding: 10px;
  }

  .uni-teach-card-group .card {
    flex: 1 1 100%; /* Las tarjetas ocupan todo el ancho disponible */
    margin: 5px 0;
  }
}
