/* landingPage.css */
.container {
  margin: 20px auto;
  padding: 20px;
  max-width: 1200px;
  background-color: transparent;

}
.card-title {
  font-size: 1.5em;
  color: #333;
}
.landing-page {
  background-image: url('../Assest/jovenes.png '); /* Agrega la imagen de fondo al contenedor específico */
  background-size: cover; /* Ajusta el tamaño del fondo para cubrir todo el contenedor */
  background-attachment: fixed; /* Fija la imagen de fondo para que no se desplace con el contenido */
  min-height: 100vh; /* Asegura que el contenedor cubra toda la altura de la ventana */
}

/* Aplica la animación a la clase */
.tracking-in-expand-forward-bottom {
  animation: tracking-in-expand-forward-bottom 1.4s linear both;
}

/*Caracteristicas Principales*/
.descripcion {
  font-size: 1.2em;
  color: #f7f7f7;
}

.features-section li {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #000000;
}
.features-section {
  padding: 40px 0;
  text-align: center;
}




@keyframes shadow-drop-center {
  0% {
    box-shadow: 0 0 0 0 transparent;
  }
  100% {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.55);
  }
}



/* Testimonial Card */
.testimonial-card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px; /* Espacio entre tarjetas */
}

.testimonial-card {
  width: 25em;
  height: 25em;
  border: 1px solid #69b2fc;
  background-color: #0995d6;
  transition: transform 0.3s ease;
  
}

.testimonial-card:hover {
  box-shadow: 0 10px 8px rgba(0, 0, 0, 0.1);
  animation: scale-up-center 1.0s both;
}

@keyframes scale-up-center {
  0% {
    transform: scale(1);
  }
  70% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(1.06);
  }
}

.testimonial-card .card-body {
  padding: 40px;
}


