/* landingPage.css */
.opacidad{
  background-color: rgb(3, 3, 3, 0.5);
}
.contenedor {
  margin: 20px auto;
  padding: 20px;
  max-width: 1200px;
}
.card-title {
  font-size: 1.5em;
  color: #fffbfb;
}
.landing-page {
  background-image: url('../Assest/jovenes.png '); 
  background-size: cover; 
  background-attachment: fixed;
  min-height: 259vh; 
}

/* Aplica la animación a la clase */
.tracking-in-expand-forward-bottom {
  animation: tracking-in-expand-forward-bottom 1.4s linear both;
}

/*Caracteristicas Principales*/
.descripcion {
  font-size: 1.2em;
  color: #f7f7f7;
}

.features-section li {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #fff8f8;

}
.features-section {
  padding: 40px 0;
  text-align: center;
}




@keyframes shadow-drop-center {
  0% {
    box-shadow: 0 0 0 0 transparent;
  }
  100% {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.55);
  }
}



/* Testimonial Card */
.testimonial-card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px; /* Espacio entre tarjetas */

}

.testimonial-card {
  width: 25em;
  height: 25em;
  border: 1px solid #1965b1;
  background-color: #247ea8;
  transition: transform 0.3s ease;
  margin: 0.7rem;
  color: white;
}

.testimonial-card:hover {
  box-shadow: 0 10px 8px rgba(0, 0, 0, 0.1);
  animation: scale-up-center 1.0s both;
}

@keyframes scale-up-center {
  0% {
    transform: scale(1);
  }
  70% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(1.06);
  }
}

.testimonial-card .card-body {
  padding: 40px;
}


