/* mentorCards.css */
.mentor-card {
    background:linear-gradient(transparent,#bac0bf); /* Azul más oscuro */
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 5rem; /* Ajusta el espacio entre tarjetas */
}

.mentor-card:hover {
    transform: scale(1.05); /* Animación de agrandamiento */
}

.mentor-image {
    width: 10em; /* Ajusta el tamaño de la imagen */
    height: 10em; /* Mantén la imagen cuadrada para asegurar que sea redonda */
    object-fit: cover;
    border-radius: 40%; /* Hace la imagen redonda */
    border: 0.1em solid #707070; /* Azul más oscuro para el borde */
    margin-top: 15px; /* Añade espacio superior a la imagen */
}

.card-body {
    padding: 1em;
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000000;
}

.card-text {
    font-weight:lighter;
    font-family: sans-serif;
    font-size: 1rem;
    color: #151515;
}
