:root {
  --primary-color: #007bff;
  --secondary-color: #2fb5eb;
  --text-color: #151515;
  --background-color: #f7f7f7;
}

.mentor-card {
  background: linear-gradient(transparent, var(--secondary-color));
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 2em;
  box-sizing: border-box;
}

.mentor-info{
  text-decoration: none !important;
}



.mentor-card:hover {
  transform: scale(1.05);
}

.mentor-image {
  width: 10em;
  height: 10em;
  object-fit: cover;
  border-radius: 40%;
  border: 0.1em solid var(--secondary-color);
  margin-top: 18px;
}

.card-body {
  padding: 1em;
}

.card-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--text-color);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.card-text {
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.1rem;
  color: var(--text-color);
}

.custom-btn {
  background-color: var(--primary-color);
  color: white;
  border: none;
  width: 120px;
  margin: 0.5em;
}

.custom-btn:hover {
  background-color: #ffffff;
  text-decoration: none;
}

.custom-btn:focus {
  outline: none;
}