.loading-container{
  display: flex;
  justify-content: center;
  margin: 15rem;
}
.mentor-profile {
  display: flex;
  justify-content: center;
  padding: 5rem 1rem;
 
}

.container-calendar{
  margin-top: 1rem;
}

.container-result-mentor{
  background:linear-gradient(#004aad,transparent);
}

.profile-container {
  display: flex;
  max-width: 800px;
  width: 100%;
  background-color: #c9dff175; /* Fondo blanco */
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  flex-wrap: wrap; /* Permitir que los elementos se ajusten */
}

.profile-info {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap; /* Para permitir que los elementos se reorganicen */
}

.mentor-image {
  width: 150px;
  height: 150px;
}

.profile-details {
  display: flex;
  flex-direction: column;
  flex: 1;
}

h2 {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
}

h3 {
  margin-top: 20px;
  font-size: 20px;
}

.description-box {
  background-color: #2394e081;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}

.rating {
  margin-top: 10px;
}

.buttons-container {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.custom-button {
  background-color: #3d3d3d;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}

.custom-button:hover {
  background-color: #2c2c2c;
}

.phone-number {
  margin-top: 10px;
}

.schedule-details {
  margin-top: 20px;
}

/* Responsive design */
@media (max-width: 768px) {
  .profile-container {
    flex-direction: column; /* Cambiar a columna en pantallas pequeñas */
    align-items: center; /* Centrar elementos */
  }

  .profile-info {
    flex-direction: column; /* Colocar los elementos en fila vertical */
    align-items: center;
    gap: 15px;
  }

  .mentor-image {
    width: 100px;
    height: 100px;
  }

  .profile-details {
    align-items: center;
    text-align: center;
  }

  .buttons-container {
    justify-content: center;
  }

  .loading-container{
    display: flex;
    justify-content: center;
    margin: 10rem;
  }
}

@media (max-width: 480px) {
  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
  }

  .custom-button {
    padding: 8px 15px;
    font-size: 14px;
  }

  .description-box {
    font-size: 14px;
  }
}
