/* Estilos principales del perfil del mentor */
.mentor-profile {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: #d9e7ff; /* Color de fondo claro */
}

.profile-container {
  display: flex;
  max-width: 800px;
  width: 100%;
  background-color: #ffffff; /* Fondo blanco */
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-info {
  display: flex;
  align-items: center;
  gap: 20px;
}

.mentor-image {
  border-radius: 8px;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.profile-details {
  display: flex;
  flex-direction: column;
}

h2 {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
}

h3 {
  margin-top: 20px;
  font-size: 20px;
}

.description-box {
  background-color: #f8c8c8;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
}

.rating {
  margin-top: 10px;
}

.buttons-container {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.custom-button {
  background-color: #3d3d3d;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}

.custom-button:hover {
  background-color: #2c2c2c;
}

.phone-number {
  margin-top: 10px;
}

.schedule-details {
  margin-top: 20px;
}

  