/* General layout */
.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    background: linear-gradient(180deg, #64a4ee, #0052cc);
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    padding: 1rem;
}

/* Card style */
.reset-password-card {
    background: #fff;
    color: #333;
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 90%;
    max-width: 400px;
}

/* Form fields */
.input-group {
    margin-bottom: 1.5rem;
    text-align: left;
}

.input-group label {
    font-weight: bold;
    display: block;
    margin-bottom: 0.5rem;
}

.password-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 0.75rem; /* Aumentado para más espacio */
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    transition: border 0.3s ease; /* Transición suave */
}

.password-container input {
    width: 100%;
    border: none;
    outline: none;
    padding: 0.5rem;
    transition: border 0.3s ease; /* Transición suave */
}

.password-container input:focus {
    border: 1px solid #0052cc;
}

.toggle-password {
    margin-top: 0.5rem;
    background: #0052cc;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    transition: background 0.3s, transform 0.2s; /* Transición y escala */
}

.toggle-password:hover {
    background: #003d99;
    transform: scale(1.02); /* Escala ligera */
}

/* Submit button */
.submit-button {
    width: 100%;
    background: #0052cc;
    color: #ffffff;
    border: none;
    padding: 0.75rem;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s; /* Transición y escala */
}

.submit-button:hover {
    background: #003d99;
    transform: scale(1.02); /* Escala ligera */
}

/* Feedback messages */
.success, .error {
    animation: fadeIn 0.5s ease-in-out;
    font-weight: bold;
    margin-top: 1rem;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Responsive design */
@media (max-width: 320px) {
    .reset-password-card {
        padding: 2rem;
        font-size: 0.9rem;
    }

    .submit-button, .toggle-password {
        font-size: 0.9rem;
    }
}
