/* TablaProximaClase.css */

/* Estilo general de la tabla */
.table-container {
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    margin: 20px;
    background-color: #fff;
  }
  
  /* Estilo para el encabezado de la tabla */
  .table-header {
    background-color: #aeb0b2;
    color: white;
    font-weight: bold;
  }
  
  /* Estilo para las celdas del encabezado */
  .table-header-cell {
    padding: 16px;
    text-align: left;
  }
  
  /* Estilo para las celdas del cuerpo de la tabla */
  .table-body-cell {
    padding: 12px;
    border-bottom: 1px solid #ddd;
  }
  
  /* Estilo para las filas del cuerpo de la tabla */
  .table-body-row {
    transition: background-color 0.3s;
  }
  
  .table-body-row:hover {
    background-color: #f1f1f1;
  }
  
  /* Estilo para la paginación */
  .table-pagination {
    background-color: #f8f8f8;
    padding: 8px;
    border-top: 1px solid #ddd;
    display: flex;
    justify-content: center;
  }
  
  .table-pagination-button {
    background-color: #adafb0;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 4px;
  }
  
  .table-pagination-button:hover {
    background-color: #0056b3;
  }
 
/* Estilo para el botón de acciones */
.action-button {
  background-color: #ff6f00;
  color: #fff;
  border: none;
  padding: 6px 12px; /* Ajusta el tamaño del botón */
  border-radius: 4px; /* Radio de bordes más pequeño */
  cursor: pointer;
  font-size: 12px; /* Tamaño de fuente más pequeño */
  transition: background-color 0.3s ease, transform 0.2s ease;
  display: inline-block;
  text-align: center;
}

.action-button:hover {
  background-color: #b36800; /* Azul más oscuro */
  transform: scale(1.05);
}

.action-button:focus {
  outline: none;
}

.table-title {
  background-color: #f8f9fa; /* Fondo gris claro */
  color: #333; /* Color del texto */
  padding: 10px; /* Espaciado interno */
  border-radius: 8px; /* Bordes redondeados */
  border: 1px solid #ccc; /* Borde gris */
  text-align: center; /* Centrado del texto */
  font-size: 18px; /* Tamaño de la fuente */
  margin-bottom: 20px; /* Espaciado inferior */
}
.loading-spinner {
  font-size: 18px;
  color: #007bff;
  text-align: center;
  margin: 20px 0;
}

.loading-spinner::after {
  content: ' ';
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #007bff;
  border-color: #007bff transparent #007bff transparent;
  animation: spin 1.2s linear infinite;
}

.fullscreen-modal .modal-content {
  background: transparent;
  border: none;
}

.modal-content-custom {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 20px;
}

.option-text {
  margin-top: 10px; 
  text-align: center;
  font-size: 1.5rem; 
  color: white; 
  font-weight: bold;
  position: relative;
  z-index: 3;
}

.modal-options {
  display: flex;
  justify-content: space-evenly;
  gap: 200px; 
  width: 100%;
  flex-wrap: nowrap; 
  z-index: 1;
}

.modal-card {
  width: 60%;
  height: 300px;
  right: 25rem;
  border-radius: 15px;
  cursor: pointer;
  animation: fadeIn 0.5s ease-in-out forwards;
  flex-shrink: 0;
  display: flex;
  flex-direction: column; 
  justify-content: flex-end; 
  position: relative;
  z-index: 2;
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
}

.fade-in.delay-1 {
  animation-delay: 0.2s;
}

.fade-in.delay-2 {
  animation-delay: 0.4s;
}

.fade-in.delay-3 {
  animation-delay: 0.6s;
}






.close-modal-btn {
  position: absolute;
  bottom: 400px;
  left: 900px; 
  background: none;
  border: none;
  font-size: 36px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

@media (max-width: 768px) {
  .modal-options {
    flex-direction: column;
    gap: 20px;
    width: 90%;
    margin-left: 54rem;
    margin-top: 5rem;
  }

  .modal-card {
    width: 70%; /* Ajusta el ancho para que quepan en la pantalla */
    max-width: none; /* Elimina cualquier restricción de max-width */
  }
  
  .close-modal-btn {
    position: absolute;
    bottom: 950px;
    left: 320px; 
  }

}

.close-modal-btn:hover {
  color: red;
}


.modal-backdrop.show {
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-background {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 8px;
  transition: opacity 0.3s ease;
}

.modal-card:hover .modal-background {
  opacity: 0.6; 
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
