.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .view-more-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .view-more-button:hover {
    background-color: #0056b3;
  }
  