
.custom-title {
  margin: 3rem 0 3rem 0;
  color: #f0f0f0;
  font-family: 'Times New Roman', Times, serif;

  filter: drop-shadow(2px 4px 6px black);
  animation: tracking-in-expand-forward-bottom 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
  .primary-button {
    padding: 0.9rem 1.75rem;
    background-color: #ffffff;
    outline: none;
    border: none;
    border-radius: 5rem;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 600;
    transition: 0.2s;
    color: #000000;
    margin: 0 0 4rem 0;
  }
  
  .primary-button:hover {
    background-color: #000000;
  }
  @keyframes tracking-in-expand-forward-bottom {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
      transform: translateZ(-700px) translateY(500px);
    }
  }
  
  .features-text {
    font-size: 1.2rem;
    line-height: 1.8;
    margin-top: 20px;
  }
  
  
  .custom-button:hover {
    transform: translateY(-5px);
  }
  
  .shadow-drop-center {
    animation: shadow-drop-center 0.5s both;
  }
  
  @keyframes shadow-drop-center {
    0% {
      box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      box-shadow: 0 15px 15px rgba(0, 0, 0, 0.2);
    }
  }
  

