.mentores-recientes-title{
  text-align: center;
  color: #2c3e50;
      font-size: 1.5rem;
      margin: 0px;
      font-weight: bold;
}
/* Ocultar el carrusel en pantallas grandes */
@media screen and (min-width: 769px) {
    .carouselContainerMentores {
      display: none;
    }
  }
  
  /* Mostrar el carrusel en pantallas pequeñas */
  @media screen and (min-width: 768px) {
    .carousel-container-mentores{
      display: none; /* Ocultar la grilla en pantallas pequeñas */
    }
  }
  @media screen and (max-width: 769px) {
    .grid-container-mentores {
      display: grid;
      grid-template-columns: repeat(3, 1fr); /* Grilla de 3 columnas */
      gap: 1rem;
      width: 100%;
      align-items: center;
      display: none;
    }
  }
  @media screen and (min-width: 769px) {
    .grid-container-mentores {
      display: grid;
      grid-template-columns: repeat(3, 1fr); /* Grilla de 3 columnas */
      gap: 1rem;
      width: 100%;
      align-items: center;
    }
  }
  .mentor-card-wrapper {
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  