.mentores-recientes-container-overflow {
  overflow: auto;
  scrollbar-width: none;
  text-align: center;
}

.mentores-recientes-title{
  width: auto;
      font-size: 1.5rem;
      padding-top: 15px;
      margin: 0px;
      font-weight: bold;
} 

  @media screen and (min-width: 687px) {
    .carousel-container-mentores{
      display: none; 
    }
  }
  @media screen and (max-width: 687px) {
    .grid-container-mentores {
        display: none;
    }
  }
  @media screen and (min-width: 687px) {
    .grid-container-mentores {
      display: grid;
      grid-template-columns: repeat(4, 1fr); 
      gap: 1rem;
      width: 100%;
      align-items: center;
    }
  }
  .mentor-card-wrapper {
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  