
/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Resto de los estilos */
img {
  max-width: 100%;
  height: auto;
}
.custom-title {
  color: #ffffff; 
  font-family:'Times New Roman', Times, serif ;
  margin-top: 70px;
}
@keyframes tracking-in-expand-forward-bottom {
  0% {
    letter-spacing: -.2em;
    transform: translateZ(-700px) translateY(100px);
    opacity: 0;
  }
  40% {
    opacity: .6;
  }
  100% {
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

/* Aplica la animación a la clase */
.tracking-in-expand-forward-bottom {
  animation: tracking-in-expand-forward-bottom 1.4s linear both;
}

/*Caracteristicas Principales*/
.descripcion {
  font-size: 1.2em;
  color: #f7f7f7;
}

.features-section li {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #000000;
}
.features-section {
  padding: 40px 0;
  text-align: center;
}




@keyframes shadow-drop-center {
  0% {
    box-shadow: 0 0 0 0 transparent;
  }
  100% {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.55);
  }
}



/* Testimonial Card */
.testimonial-card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px; /* Espacio entre tarjetas */
}

.testimonial-card {
  width: 25em;
  height: 25em;
  border: 1px solid #69b2fc;
  background-color: #0995d6;
  transition: transform 0.3s ease;
  
}

.testimonial-card:hover {
  box-shadow: 0 10px 8px rgba(0, 0, 0, 0.1);
  animation: scale-up-center 1.0s both;
}

@keyframes scale-up-center {
  0% {
    transform: scale(1);
  }
  70% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(1.06);
  }
}

.testimonial-card .card-body {
  padding: 40px;
}


/* Estilos específicos para otros elementos */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 90px;
  background-color: #004aad;
}

.nav-logo-container {
  width: 10%;
}

.navbar-menu-container {
  display: none;
  color: aliceblue;
  margin-right: 5%;
}

.navbar-links-container a {
  margin-right: 3rem;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1.1rem;
  font-weight: 600;
}

.primary-button {
  padding: 0.9rem 1.75rem;
  background-color: rgb(0, 0, 0);
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}

.navbar-cart-icon {
  font-size: 1.15rem;
}

.primary-button:hover {
  background-color: rgb(0, 0, 0);
}

.navbar-menu-container svg {
  font-size: 1.5rem;
  cursor: pointer;
}

.dark-mode-button:hover {
  background-color: #f0f0f0; /* Color más oscuro al pasar el mouse */
}

@media (max-width: 1000px) {
  .navbar-links-container a {
    margin-right: 1rem;
    font-size: 1rem;
  }
  .primary-button {
    font-size: 1rem;
  }
  .home-bannerImage-container {
    max-width: 600px;
  }
}

@media (max-width: 800px) {
  .nav-logo-container {
    max-width: 140px;
  }
  .navbar-links-container {
    display: none;
  }
  .navbar-menu-container {
    display: flex;
  }
  .home-bannerImage-container {
    max-width: 450px;
  }
  .home-banner-container,
  .about-section-container {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .about-section-container {
    flex-direction: column;
  }
  .home-image-section,
  .about-section-image-container {
    width: 100%;
    max-width: 400px;
  }
  .primary-heading {
    text-align: center;
    max-width: 90%;
  }
  .primary-text {
    text-align: center;
    max-width: 80%;
  }
  .home-text-section,
  .about-section-text-container {
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
  }
  .secondary-button {
    font-size: 1rem;
    padding: 0.8rem 2rem;
    cursor: pointer;
  }
  .about-section-container {
    margin-top: 5rem !important;
  }
  .about-buttons-container {
    justify-content: center;
    flex-direction: column;
  }
  .primary-subheading {
    text-align: center;
  }
  .watch-video-button {
    margin-left: 0rem !important;
    margin-top: 1rem;
    font-size: 1rem !important;
  }
  .watch-video-button svg {
    margin-right: 0.5rem !important;
  }
  .about-section-image-container {
    margin-right: 0rem !important;
  }
  .work-section-wrapper {
    margin-top: 5rem !important;
  }
  .work-section-bottom {
    margin-top: 1rem !important;
  }
}

/* Formulario Signup */
.formularioSignup input[type="text"],
.formularioSignup input[type="password"],
.formularioSignup input[type="email"],
.formularioSignup input[type="tel"],
.formularioSignup select {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.formularioSignup a {
  color: #007bff;
}

.formularioSignup select option {
  padding: 10px;
}

.formularioSignup {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f9f9f9e7;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formularioSignup button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  background-color: #ff6600;
  color: white;
  cursor: pointer;
}

.formularioSignup button:hover {
  background-color: #dc5800;
}

/* Formulario Login */
.formularioLogin {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.formularioLogin h2 {
  text-align: center;
  margin-bottom: 20px;
}

.formularioLogin input[type="text"],
.formularioLogin input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.formularioLogin button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 3px;
  background-color: #ff6600;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.formularioLogin button:hover {
  background-color: #d65600;
}

/* Contact Section */
.about .contact-section {
  background-color: #ffffff;
  padding: 50px 0;
  text-align: center;
}

.about .contact-section h2 {
  margin-bottom: 20px;
}

.about .contact-section p {
  font-size: 1.1em;
  margin-bottom: 30px;
}

.about .contact-section form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about .contact-section input,
.about .contact-section textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
}

.about .contact-section button {
  background-color: #ff6600;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
}

/* About Page */
.about {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.about .about {
  text-align: center;
  margin-bottom: 40px;
}

.about .about h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #333;
}

.about .about p {
  font-size: 1.1em;
  line-height: 1.6;
  margin-bottom: 20px;
  color: #666;
}

.about .about-section a {
  color: #007bff;
  text-decoration: none;
}

.about .about-section a:hover {
  text-decoration: underline;
}

/* Estilos para la cuadrícula de imágenes */
.image-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.image-item {
  flex: 0 0 calc(33.33% - 10px); /* Ajusta el ancho de cada imagen según el espacio disponible */
  margin-bottom: 20px;
  text-align: center;
}

.about-image {
  width: 100%;
  border-radius: 10px;
}

.image-description {
  font-size: 14px;
  color: #666;
}

/* Estilos adicionales para el equipo (team-section) */
.about .team-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.about .team-member {
  width: 200px;
  margin: 20px;
  text-align: center;
}

.about .team-member img {
  width: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.about .team-member h3 {
  font-size: 1.2em;
  margin-bottom: 5px;
}

.about .team-member p {
  font-size: 1em;
  color: #666;
}

.about .team-member .social-links {
  margin-top: 10px;
}

.about .team-member .social-links a {
  color: #007bff;
  margin: 0 5px;
}

.about .team-member .social-links a:hover {
  text-decoration: none;
  color: #0056b3;
}
