* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Reem Kufi", sans-serif !important;
}
img {
  max-width: 100%;
  height: auto;
}

body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  background-color: #f6f6f6;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 90px;
  background-color: #004aad;
}
.nav-logo-container{
  width: 10%;
}
.navbar-menu-container {
  display: none;
  color: aliceblue;
  margin-right: 5%;
}
.navbar-links-container a {
  margin-right: 3rem;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 1.1rem;
  font-weight: 600;
}
.primary-button {
  padding: 0.9rem 1.75rem;
  background-color: white;
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}
.navbar-cart-icon {
  font-size: 1.15rem;
}
.primary-button:hover {
  background-color: rgb(234, 234, 234);
}
.navbar-menu-container svg {
  font-size: 1.5rem;
  cursor: pointer;
}


@media (max-width: 1000px) {
  .navbar-links-container a {
    margin-right: 1rem;
    font-size: 1rem;
  }
  .primary-button {
    font-size: 1rem;
  }
  .home-bannerImage-container {
    max-width: 600px;
  }
}
@media (max-width: 800px) {
  .nav-logo-container {
    max-width: 140px;
  }
  .navbar-links-container {
    display: none;
  }
  .navbar-menu-container {
    display: flex;
  }
  .home-bannerImage-container {
    max-width: 450px;
  }
  .home-banner-container,
  .about-section-container {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .about-section-container {
    flex-direction: column;
  }
  .home-image-section,
  .about-section-image-container {
    width: 100%;
    max-width: 400px;
  }
  .primary-heading {
    text-align: center;
    max-width: 90%;
  }
  .primary-text {
    text-align: center;
    max-width: 80%;
  }
  .home-text-section,
  .about-section-text-container {
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
  }
  .secondary-button {
    font-size: 1rem;
    padding: 0.8rem 2rem;
    cursor: pointer;
  }
  .about-section-container {
    margin-top: 5rem !important;
  }
  .about-buttons-container {
    justify-content: center;
    flex-direction: column;
  }
  .primary-subheading {
    text-align: center;
  }
  .watch-video-button {
    margin-left: 0rem !important;
    margin-top: 1rem;
    font-size: 1rem !important;
  }
  .watch-video-button svg {
    margin-right: 0.5rem !important;
  }
  .about-section-image-container {
    margin-right: 0rem !important;
  }
  .work-section-wrapper {
    margin-top: 5rem !important;
  }
  .work-section-bottom {
    margin-top: 1rem !important;
  }
}


/* Estilos para los campos del formulario */
.formularioSignup input[type="text"],
.formularioSignup input[type="password"],
.formularioSignup input[type="email"],
.formularioSignup input[type="tel"],
.formularioSignup select {
  width: 100%; /* Ancho completo */
  margin-bottom: 10px; /* Espacio inferior entre campos */
  padding: 10px; /* Espaciado interno */
  border: 1px solid #ccc; /* Borde */
  border-radius: 4px; /* Borde redondeado */
  box-sizing: border-box; /* Incluir padding y border en el ancho */
}


/* Estilos para el enlace del formulario */
.formularioSignup a {
  color: #007bff; /* Color del enlace */
}


/* Estilos para el texto de los elementos de enumeración */
.formularioSignup select option {
  padding: 10px; /* Espaciado interno */
}

/* Estilos adicionales para centrar el formulario */
.formularioSignup {
  max-width: 400px; /* Ancho máximo del contenedor */
  margin: 50px auto; /* Centrar vertical y horizontalmente */
  padding: 20px; /* Espaciado interno */
  background-color: #f9f9f9; /* Color de fondo */
  border-radius: 8px; /* Borde redondeado */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra */
}


.formularioSignup button {
  width: 100%; /* Ancho completo */
  padding: 12px; /* Espaciado interno */
  border: none; /* Sin borde */
  border-radius: 4px; /* Borde redondeado */
  background-color: #ff6600; /* Color de fondo */
  color: white; /* Color del texto */
  cursor: pointer; /* Cursor de puntero al pasar por encima */
}

/* Estilos para el botón de registrarse al pasar el cursor */
.formularioSignup button:hover {
  background-color: #dc5800; /* Color de fondo al pasar el cursor */
}
.formularioLogin {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.formularioLogin h2 {
  text-align: center;
  margin-bottom: 20px;
}

.formularioLogin input[type="text"],
.formularioLogin input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.formularioLogin button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 3px;
  background-color: #ff6600;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.formularioLogin button:hover {
  background-color: #d65600;
}
/* Estilos generales */
/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8; /* Color de fondo para todo el cuerpo */
}

.landingPage {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Estilos para la sección de Bienvenida */
.landingPage .hero-section {
  background-size: cover;
  color: #000000;
  text-align: center;
  padding: 100px 0;
}

.landingPage .hero-section h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

.landingPage .hero-section p {
  font-size: 1.2em;
  margin-bottom: 30px;
}

.landingPage .hero-section button {
  background-color: #ff6600; /* Color naranja brillante */
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
}

/* Estilos para la sección de Características */
.landingPage .features-section {
  background-color: #ffffff; /* Color de fondo blanco */
  padding: 50px 0;
  text-align: center;
}

.landingPage .features-section h2 {
  margin-bottom: 20px;
}

.landingPage .features-section ul {
  list-style: none;
  padding: 0;
}

.landingPage .features-section ul li {
  font-size: 1.1em;
  margin-bottom: 10px;
}

/* Estilos para la sección de Testimonios */
.landingPage .testimonials-section {
  background-color: #f5f5f5; /* Color gris claro */
  padding: 50px 0;
  text-align: center;
}

.landingPage .testimonials-section h2 {
  margin-bottom: 20px;
}

.landingPage .testimonial {
  margin-bottom: 30px;
}

/* Estilos para la sección de Contacto */
.about .contact-section {
  background-color: #ffffff; /* Color de fondo blanco */
  padding: 50px 0;
  text-align: center;
}

.about .contact-section h2 {
  margin-bottom: 20px;
}

.about .contact-section p {
  font-size: 1.1em;
  margin-bottom: 30px;
}
.about .contact-section form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about .contact-section input,
.about .contact-section textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
}

.about .contact-section button {
  background-color: #ff6600; /* Color naranja brillante */
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
}

/* Estilos para la página "Acerca de" */
.about {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.about .about {
  text-align: center;
  margin-bottom: 40px;
}

.about .about h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #333; /* Color de texto oscuro */
}

.about .about p {
  font-size: 1.1em;
  line-height: 1.6;
  margin-bottom: 20px;
  color: #666; /* Color de texto gris */
}

.about .about-section a {
  color: #007bff; /* Color de enlace */
  text-decoration: none;
}

.about .about-section a:hover {
  text-decoration: underline;
}

.about .team-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.about .team-member {
  width: 200px;
  margin: 20px;
  text-align: center;
}

.about .team-member img {
  width: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.about .team-member h3 {
  font-size: 1.2em;
  margin-bottom: 5px;
}

.about .team-member p {
  font-size: 1em;
  color: #666; /* Color de texto gris */
}

.about .team-member .social-links {
  margin-top: 10px;
}

.about .team-member .social-links a {
  color: #007bff; /* Color de enlace */
  margin: 0 5px;
}

.about .team-member .social-links a:hover {
  text-decoration: none;
  color: #0056b3; /* Color de enlace al pasar el mouse */
}

